[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
asyncpraw = "*"
"discord.py" = "*"
feedparser = "*"
google-api-python-client = "*"
pyyaml = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.9.2"

[scripts]
bot = "python -m core"
