[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
asyncpraw = "*"
"checksec.py" = "*"
"discord.py" = "*"
feedparser = "*"
pyyaml = "*"

[dev-packages]

[scripts]
bot = "python -m core"
